* {
    padding: 0%;
    margin: 0;
}


/* Header */

.headshot img {
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #e4b672;
    background: -moz-linear-gradient(-45deg, #bfe990 0%, #5f99e4 100%);
    background: -webkit-linear-gradient(-45deg, #bfe990 0%, #5f99e4 100%);
    background: linear-gradient(135deg, #bfe990 0%, #5f99e4 100%);
}

.title {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 2rem;
    max-width: 960px;
    text-align: center;
}

.title .smallsep {
    background: #fff;
    height: 2px;
    width: 70px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.85;
    margin-bottom: 28px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.title h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
}

.title p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 150%;
}

.title .icon {
    color: #FFFFFF;
    font-size: 50px;
}

.main_nav {
    position: fixed;
    top: 0px;
    max-height: 50px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 15px;
}

.open-nav {
    max-height: 400px !important;
}

.sticky {
    background-color: #ffffff;
    opacity: 1;
    top: 0px;
}

nav {
    width: 100%;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
}

nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

nav ul a:hover {
    color: #85b8fc;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0px;
    width: 30px;
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #000000;
    display: block;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}

a {
    color: #5f99e4;
}


/* About Section */

#about .card {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

#about h1 {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #bfe990 0%, #5f99e4 100%);
    border-image-slice: 1;
    width: auto;
}


/* Skills Section */

#skills h1 {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #bfe990 0%, #5f99e4 100%);
    border-image-slice: 1;
    width: auto;
}

#skills ul {
    columns: 2;
    list-style: none;
    margin-left: 4%;
    width: auto;
}

ul .right {
    margin-right: 85%;
}

ul .left {
    margin-left: 85%;
}


/* Portfolio Section */

#portfolio h1 {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #bfe990 0%, #5f99e4 100%);
    border-image-slice: 1;
    width: auto;
}

.p-cards {
    display: flex;
    text-align: center;
    padding: 3%;
}

.card-body {
    text-align: center;
}

#portfolio .card button {
    padding: 1%;
    margin: 1%;
    background-color: #202020;
}

#portfolio .card button :hover {
    color: #85b8fc;
    text-decoration: none;
}


/* Contact Section */

#contact h1 {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #bfe990 0%, #5f99e4 100%);
    border-image-slice: 1;
    width: auto;
}

#contact {
    text-align: center;
}


/* Footer */

footer {
    min-height: 120px;
    padding: 1.5% 0 1.5% 0;
    background: #e4b672;
    background: -moz-linear-gradient(-45deg, #bfe990 0%, #5f99e4 100%);
    background: -webkit-linear-gradient(-45deg, #bfe990 0%, #5f99e4 100%);
    background: linear-gradient(135deg, #bfe990 0%, #5f99e4 100%);
    box-sizing: border-box;
    text-align: center;
}

footer p {
    color: #FFFFFF;
    margin: .5% 0 0 0;
}

.socialIcons {
    font-size: 55px;
    color: rgba(255, 255, 255, 0.7);
}

footer a :hover {
    color: rgb(223, 223, 223);
    text-decoration: none;
}


/* Iphone */

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 150%;
        text-align: center;
    }
    .mobile-toggle {
        padding: 2%;
    }
    #skills .card {
        padding-bottom: 25%;
    }
    ul .right {
        position: absolute;
        left: 55%;
    }
    ul .left {
        position: absolute;
        right: 55%;
    }
    .p-cards {
        flex-direction: column;
    }
}


/* Ipad media query */

@media only screen and (max-width: 768px) {
    .main_nav {
        padding-top: 25px;
    }
    nav {
        width: 100%;
    }
    nav ul {
        padding-top: 0px;
        margin-bottom: 22px;
        text-align: center;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
    nav ul li:first-child {
        margin-top: 70px;
    }
    .mobile-toggle {
        display: block;
        padding-top: 2%;
    }
    #skills ul {
        word-wrap: normal;
        text-align: center;
    }
    #skills .card {
        padding-bottom: 13%;
    }
    ul .right {
        position: absolute;
        left: 55%;
    }
    ul .left {
        position: absolute;
        right: 55%;
    }
    .p-cards {
        flex-direction: column;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}